#cityDatabase {
  margin-top: 5%;
  color: white;
  border-collapse: collapse;
  width: 85%;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
}
#cityDatabase th,
#cityDatabase td {
  width: 50%;
  text-align: left;
  padding: 12px;
  text-align: center;
}
#cityDatabase tr {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
#cityDatabase tr.header,
#cityDatabase tr:hover {
  background-color: brown;
  text-align: center;
}