  #citiesDatabase {
    color: white;
    border-collapse: collapse;
    width: 85%;
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
  }
  #citiesDatabase th, #citiesDatabase td {
    text-align: left;
    padding: 12px;
    text-align: center;
  }
  #citiesDatabase tr {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  #citiesDatabase tr.header, #citiesDatabase tr:hover {
    background-color: brown;
    text-align: center;
  }
     
  h1 {
    color: #f56642;
    transition: 0.3s;
  }
  p {
    text-align: center;
  }
th {
    width: 50%
}